---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ cluster_secret_store_name }}
spec:
  provider:
    bitwardensecretsmanager:
      apiURL: {{ api_url | quote }}
      identityURL: {{ identity_url | quote }}
      auth:
        secretRef:
          credentials:
            key: {{ token_key | quote }}
            name: {{ token_secret_name | quote }}
            namespace: {{ namespace | quote }}
      bitwardenServerSDKURL: {{ bitwarden_sdk_server_url | quote }}
      organizationID: {{ organization_id | quote }}
      projectID: {{ project_id | quote }}
      caProvider:
        type: Secret
        name: {{ ca_secret_name | quote }}
        namespace: {{ namespace | quote }}
        key: {{ ca_key | quote }}
