# Set account-wide variables. These are automatically pulled in to configure the remote state bucket in the root
# root.hcl configuration.
locals {
  virtual_environment_endpoint              = "https://pve:8006/"
  virtual_environment_api_token             = "user@pam!token=00000000-0000-0000-0000-000000000000"
  virtual_environment_username              = "username"
  virtual_environment_password              = "password"
  virtual_environment_auth_ticket           = ""
  virtual_environment_csrf_prevention_token = ""
  cloudflare_account_id                     = "1234567890abcdef1234567890abcdef"
  r2_endpoint                               = "https://${local.cloudflare_account_id}.r2.cloudflarestorage.com"
  bucket_name                               = "tofu-state"
}
