---
machine:
  kubelet:
    extraArgs:
      cloud-provider: external
      # For security reasons, it is recommended to enable the rotation of server certificates.
      rotate-server-certificates: true
  features:
    kubernetesTalosAPIAccess:
      enabled: true
      allowedKubernetesNamespaces:
        - system-upgrade
%{ if type == "controlplane" ~}
        - kube-system
%{ endif ~}
      allowedRoles:
        - os:admin
%{ if type == "controlplane" ~}
        - os:reader
%{ endif ~}
