---
apiVersion: v1alpha1
kind: KubeletConfig
extraArgs:
  cloud-provider: external
  rotate-server-certificates: "true"
%{ if type == "controlplane" ~}
---
apiVersion: v1alpha1
kind: KubeTalosAPIAccessConfig
allowedKubernetesNamespaces:
  - system-upgrade
  - kube-system
allowedRoles:
  - os:admin
  - os:reader
%{ endif ~}
