---
apiVersion: v1alpha1
kind: CRICustomizationConfig
name: homelab
content: |
  # Keep unpacked layers for Spegel.
  [plugins."io.containerd.cri.v1.images"]
    discard_unpacked_layers = ${discard_unpacked_layers}
  [plugins."io.containerd.cri.v1.runtime"]
    cdi_spec_dirs = ["${cdi.staticPath}", "${cdi.dynamicPath}"]
