---
machine:
  kubelet:
    extraMounts:
%{ for path in extramounts ~}
      - destination: ${path}
        type: bind
        source: ${path}
        options:
          - bind
          - rshared
          - rw
%{ endfor ~}
