%{ if type == "controlplane" ~}
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.cluster.inlineManifests.
---
cluster:
  inlineManifests:
%{ for content in manifests ~}
%{ for index, crd in content.crds ~}
    - name: ${content.name}-crd-${index}
      contents: |-
        ${indent(8, crd)}
%{ endfor ~}
    - name: ${content.name}
      contents: |-
        ${indent(8,content.manifest)}
%{ endfor ~}
%{ endif ~}
