%{ if type == "controlplane" ~}
%{ for content in manifests ~}
%{ for index, crd in content.crds ~}
---
apiVersion: v1alpha1
kind: KubeInlineManifestConfig
name: ${content.name}-crd-${index}
manifest: |-
  ${indent(2, crd)}
%{ endfor ~}
---
apiVersion: v1alpha1
kind: KubeInlineManifestConfig
name: ${content.name}
manifest: |-
  ${indent(2,content.manifest)}
%{ endfor ~}
%{ endif ~}
