# https://docs.siderolabs.com/talos/latest/reference/configuration/runtime/unattendedinstallconfig
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: ${machine_install_disk_image}
