# https://docs.siderolabs.com/talos/latest/reference/configuration/network/resolverconfig
---
apiVersion: v1alpha1
kind: ResolverConfig
hostDNS:
  enabled: true
  forwardKubeDNSToHost: ${forwardKubeDNSToHost}
