%{ if length(sysctls) > 0 ~}
---
apiVersion: v1alpha1
kind: SysctlConfig
params:
%{ for key, value in sysctls ~}
  ${key}: "${value}"
%{ endfor ~}
%{ endif ~}
%{ for mod in kernel_modules ~}
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: ${mod}
%{ endfor ~}
