# https://docs.siderolabs.com/talos/latest/reference/configuration/block/zswapconfig
---
apiVersion: v1alpha1
kind: ZswapConfig
maxPoolPercent: ${max_pool_percent}
shrinkerEnabled: ${shrinker_enabled}
