# {{ ansible_managed }}
auto lo
iface lo inet loopback

allow-hotplug {{ bridge_port }}
iface {{ bridge_port }} inet manual

auto vmbr0
iface vmbr0 inet dhcp
    bridge_ports {{ bridge_port }}
    bridge_stp off
    bridge_fd 0

source /etc/network/interfaces.d/*
