/* custom styles */
@supports selector(.col-md-3:has(img)) {
  main .col-md-3:has(img#argocd) { order: 1; }
  main .col-md-3:has(img#audiobookshelf) { order: 2; }
  main .col-md-3:has(img#bentopdf) { order: 3; }
  main .col-md-3:has(img#cyberchef) { order: 4; }
  main .col-md-3:has(img#forgejo) { order: 5; }
  main .col-md-3:has(img#immich) { order: 6; }
  main .col-md-3:has(img#it-tools) { order: 7; }
  main .col-md-3:has(img#jellyfin) { order: 8; }
  main .col-md-3:has(img#karakeep) { order: 9; }
  main .col-md-3:has(img#mealie) { order: 10; }
  main .col-md-3:has(img#metube) { order: 11; }
  main .col-md-3:has(img#miniflux) { order: 12; }
  main .col-md-3:has(img#outline) { order: 13; }
  main .col-md-3:has(img#pinepods) { order: 14; }
  main .col-md-3:has(img#pve) { order: 15; }
  main .col-md-3:has(img#renovate-operator) { order: 16; }
  main .col-md-3:has(img#seerr) { order: 17; }
}
